[submodule "deps/zlib"]
	path = deps/zlib
	url = git://github.com/madler/zlib
[submodule "deps/pcre"]
	path = deps/pcre
	url = git://gitorious.org/pcre/pcre
[submodule "deps/openssl"]
	path = deps/openssl
	url = git://git.openssl.org/openssl
[submodule "deps/nginx"]
	path = deps/nginx
	url = git://github.com/mwcampbell/nginx
